
@media screen and (min-width: 320px) and (max-width: 329px) {
  html { font-size: 13.65px; }
}

@media screen and (min-width: 330px) and (max-width: 339px) {
  html { font-size: 14.08px; }
}

@media screen and (min-width: 340px) and (max-width: 349px) {
  html { font-size: 14.51px; }
}

@media screen and (min-width: 350px) and (max-width: 359px) {
  html { font-size: 14.93px; }
}

@media screen and (min-width: 360px) and (max-width: 369px) {
  html { font-size: 15.36px; }
}

@media screen and (min-width: 370px) and (max-width: 379px) {
  html { font-size: 15.79px; }
}

@media screen and (min-width: 380px) and (max-width: 389px) {
  html { font-size: 16.21px; }
}

@media screen and (min-width: 390px) and (max-width: 399px) {
  html { font-size: 16.64px; }
}

@media screen and (min-width: 400px) and (max-width: 409px) {
  html { font-size: 17.07px; }
}

@media screen and (min-width: 410px) and (max-width: 419px) {
  html { font-size: 17.49px; }
}
