
* {
  font-family: 'Lantinghei SC', 'Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 微软雅黑, STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif;
  vertical-align: baseline;
  box-sizing: border-box;
  font-size: 100%;
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  font-family: 'Hiragino Sans GB', helvetica, tahoma, arial, sans-serif;
}

html, body {
  height: 100%;
}

a {
  background-color: transparent;
  text-decoration: none;
}

i {
  font-style: normal;
}

ul, li {
  list-style: none;
}

a, span, aside, label, strong {
  display: inline-block;
}

textarea {
  resize: none;
}
